a {
  font-family: georgia;
  color: rgb(172,206,216);
  text-decoration: none;
}

a:hover{
  color: rgb(119,175,191);
}
a:active {
  font-family: helvetica;
  color: rgb(175,175,175);
}


li a:hover {
  color: rgb(255,224,116);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: helvetica;
  font-size: 30px;
  font-weight: bold;
  color: rgb(84,84,87);
  padding-top: 0;
}

h3 {
  font-family: helvetica;
  font-size: 22px;
  color: rgb(84,84,87);
}

h4 {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 22px;
  color: rgb(84,84,87);
}

label {
  font-family: georgia;
  font-size: 14px;
  color: rgb(84,84,87);
}

p {
  font-size: 16px;
  color: rgb(84,84,87);
  font-family: georgia;
  margin: 5px;
  padding: 5px;
}

.button-reg {
  font-family: helvetica;
  font-size: 14px;
  color: rgb(84,84,87);
  background: rgb(255,224,116);
  border: 0px;
  border-radius: 15px;
}

input:hover {
  background: rgb(172,206,216);
}

img {
 max-width: 100%;
}

.image {
  flex-basis: 70%;
}

.text {
  padding-left: 20px;
}

.images {
  float: left;
}

@media screen and (min-width: 451px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
  }
  .name {
    grid-column: 1 / 3;
    grid-row: 1;
    padding-left: 80px;
    margin-bottom: 50px;
  }

  .nav {
    grid-column: 3 / 5;
    grid-row: 1;
    margin-bottom: 50px;
    margin-right: 20px;
  }

  .image {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    padding-left: 100px;
  }

  .text {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
    padding-right: 100px;
  }


.about-text {
  grid-column: 1 / 5;
  grid-row: 2;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.image1 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin-top: 30px;
  margin-right: 10px;
}

.image2 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  margin-top: 30px;
  margin-right: 10px;
}

.image3{
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  margin-top: 30px;
}

.contact {
  padding-left: 100px;
  grid-column: 1 / 4;
  grid-row: 2;
}
.form {
  grid-row: 3;
  padding-left: 100px;
  padding-top: 20px;
}

li a {
  font-family: helvetica;
  color: rgb(84,84,87);
  padding: 20px;
  text-decoration: none;
  float: right;
}

.project {
  font-family: georgia;
  color: rgb(172,206,216);
  padding: 20px;
  text-decoration: none;
  float: left;
}

.project:hover{
  color: rgb(119,175,191);
}

.projectsWEB {
  grid-column: 1 / 4;
  grid-row: 2;
  margin: 20px;
}
.projectsMARK {
  grid-column: 1 / 4;
  grid-row: 3;
  margin: 20px;
}
.projectsCTD {
  grid-column: 1 / 4;
  grid-row: 4;
  margin: 20px;
}

.projectpre {
  grid-column: 1 / 4;
  grid-row: 4;
  margin: 20px;
}

.one {
  grid-column: 1;
  grid-row: 5;
  flex-basis: 70%
}

.two{
  grid-column: 2;
  grid-row: 5;
  margin-top:  50px;
  margin-left: 50px;
  margin-right: 50px;
}

.three {
  grid-column: 3;
  grid-row: 5;
  margin-top: 100px;
  margin-left: 100px;
}
}

@media screen and (max-width: 450px){
  .box {
    display: grid;
    grid-template-columns: 1fr;
  }
  .name {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
  .nav {
    grid-column: 1;
    grid-row: 2;
    font-size: 15px;
    margin-bottom: 20px;
    align-items: center;
    align-content: center;
  }
  .image {
    grid-column: 1;
    grid-row: 3;
  }
  .text {
    grid-column: 1;
    grid-row: 4;
  }

  .form {
    padding-top: 50px;
  }

  li a {
    font-family: helvetica;
    color: rgb(84,84,87);
    padding: 13px;
    text-decoration: none;
    float: right;
  }

  .about-text{
    text-align: center;
  }

  .project {
    font-family: helvetica;
    color: rgb(172,206,216);
    padding: 5px;
    text-decoration: none;
    float: left;
  }

  .project:hover{
    color: rgb(119,175,191);
  }
}
