

h1 {
  font-family: helvetica;
  font-size: 30px;
  font-weight: bold;
  color: rgb(84,84,87);
  padding-top: 0;
}

a:active {
  font-family: helvetica;
  color: rgb(175,175,175);
}

li a {
  font-family: helvetica;
  color: rgb(84,84,87);
  padding: 20px;
  text-decoration: none;
  float: right;
}

li a:hover {
  color: rgb(175,175,175);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: helvetica;
  font-size: 24px;
  color: rgb(84,84,87);
}

p {
  font-size: 16px;
  color: rgb(84,84,87);
  font-family: helvetica;
  margin: 5px;
  padding: 5px;
}

hr {
  color: rgb(175,175,175);
}

.button-reg {
  font-family: helvetica;
  color: rgb(84,84,87);
  background: rgb(255,224,116);
  border: 0px;
  border-radius: 15px;
}

button:hover {
  background: rgb(172,206,216);
}

.container {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;

}

img {
 max-width: 100%;
}

.image {
  flex-basis: 70%;
}

.text {
  padding-left: 20px;
}
