a:hover {
  color: rgb(119,175,191);
  font-weight: bold;
}

a {
  color: rgb(172,206,216);
  font-family: helvetica;
}

a:active {
  font-family: helvetica;
  color: rgb(175,175,175);
}

h1 {
  font-family: helvetica;
  font-size: 36px;
  font-weight: bold;
  color: rgb(84,84,87);
  text-align: center;
}

h3 {
  font-family: helvetica;
  font-size: 24px;
  color: rgb(84,84,87);
}

p {
  font-size: 12px;
  color: rgb(84,84,87);
  font-family: helvetica;
}

hr {
  color: rgb(175,175,175);
}

.button-reg {
  font-family: helvetica;
  color: rgb(84,84,87);
  background: rgb(255,224,116);
  border: 0px;
  border-radius: 15px;
}

button:hover {
  background: rgb(172,206,216);
}
